@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style type="text/css">
        .teleMarket {
            display: flex;
        }

        .customerInfo {
            flex: 1;
        }

        .teleInfo {
            width: 300px;
            margin-left: 5px;
            margin-right: 5px;
        }


        .infobox {
            width: 100%;
            border: 1px solid #d3d3d3;
            border-radius: 3px;
        }

        .infobox .t {
            background: #fc9f06;
            color: #fff;
            height: 27px;
            line-height: 27px;
            padding: 5px;
            font-size: 14px;
        }

        .infobox .b {
            padding: 5px;
        }

        .infobox .b ul li {
            height: 32px;
            line-height: 32px;
            display: flex;
        }

        .infobox .b ul li .name {
            width: 80px;
        }

        .infobox .b ul li .value {
            flex: 1;
        }


        .btn-switch {
            width: 60px;
            height: 26px;
            overflow: hidden;
        }

        .btn-switch .btn_fath {
            position: relative;
            border-radius: 20px;
            height: 100%;
        }

        .btn-switch .switch-status-on {
            float: left;
        }

        .btn-switch .switch-status-off {
            float: right;
        }

        .btn-switch .switch-status {
            height: 100%;
            width: 100%;
            border: none;
            font-size: 16px;
            text-align: center;
            z-index: 1;
        }

        .btn-switch .move {
            z-index: 100;
            width: 40%;
            height: 92%;
            border-radius: 20px;
            position: absolute;
            cursor: pointer;
            border: 1px solid #828282;
            background-color: #f1eff0;
            /*box-shadow: 1px 2px 2px 1px #fff inset,0 0 5px 1px #999;*/
        }

        .btn-switch[data-state="on"] .btn_fath .move {
            right: 0px;
        }

        .btn-switch[data-state="on"] .btn_fath {
            background-color: #44b549;
        }

        .btn-switch[data-state="off"] .btn_fath {
            background-color: #828282;
        }

        .SerFix {
            position: fixed;
            top: 0;
            z-index: 100;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">


        $(this).ready(function () {

            initConfig();

            takeData();

            $('.btn-switch').myBtnSwitch();
            $('.btn-check').myBtnCheck();

            $('#btn_SaveCallRecord').live("click", function () {


                var form_CallRecord = document.getElementById('form_CallRecord');

                var sel_ResultCode = $(form_CallRecord).find('#sel_ResultCode');
                var txt_NextCallTime = $(form_CallRecord).find('#txt_NextCallTime');
                var txt_Remark = $(form_CallRecord).find('#txt_Remark');

                $(sel_ResultCode).find("option[value='-1']").attr("selected", true);
                $(sel_ResultCode).trigger("chosen:updated");
                $(txt_NextCallTime).val("");
                $(txt_Remark).val("");

                var dialog = window.top.art.dialog({
                    title: '通话记录', content: form_CallRecord, width: '500px', id: 'EF893L', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存',
                    ok: function () {

                        var resultCode = $(sel_ResultCode).find("option:selected").val();

                        if (resultCode == "-1") {
                            $.lumos.tips("请选择通话结果");
                            return false;
                        }

                        art.dialog.confirm('确定要保存？', function () {

                            var customerId = takeDataResult.obCustomerId;
                            var nextCallTime = $(txt_NextCallTime).val();
                            var remark = $(txt_Remark).val();
                            $.lumos.postJson({
                                isUseHandling: true,
                                url: "/ObCallout/SaveCallRecored",
                                data: { customerId: customerId, resultCode: resultCode, nextCallTime: nextCallTime, remark },
                                success: function (d) {
                                    $.lumos.tips(d.message);
                                    if (d.result == $.lumos.resultType.success) {
                                        dialog.close();
                                        takeData();
                                    }
                                }
                            });
                        });

                        return false;
                    }
                });

            });

            $('#btn_CarInsSubmitInsure').live("click", function () {

                var trCarInsKinds = $('#carInsKindsBox').find(' tbody tr');

                var kinds = [];
                $.each(trCarInsKinds, function (e) {


                    var isChecked = $(this).find('.btn-switch').attr("data-state")
                    var isWaiverDeductible = $(this).find('.btn-check').attr("data-state")
                    var value = $(this).find('.txt-value').val()
                    var insKindId = $(this).attr('insKindId');
                    if (isChecked == "on") {
                        isWaiverDeductible = isWaiverDeductible == "on" ? true : false;

                        kinds.push({ id: insKindId, value: value, isWaiverDeductible: isWaiverDeductible });
                    }
                });

                var customerId = takeDataResult.obCustomerId;
                var compulsoryAmount = $('#txt_CompulsoryAmount').val();
                var travelTaxAmount = $('#txt_TravelTaxAmount').val();
                var commercialAmount = $('#txt_CommercialAmount').val();

                art.dialog.confirm('确定要提交核保？', function () {

                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "/ObCallout/CarInsSubmitUnderwriting",
                        data: { obCustomerId: customerId, travelTaxAmount: travelTaxAmount, compulsoryAmount: compulsoryAmount, commercialAmount: commercialAmount, kinds: kinds },
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {


                            }
                        }
                    });

                });


            });

            var fdiv = $("#top_bar");
            var itop = fdiv.offset().top;

            window.onload = function () {
                $(window).scroll(function () {
                    var top = $(window).scrollTop();
                    console.log("top:" + top + ",itop:" + itop)
                    if (top > itop) {
                        fdiv.addClass("SerFix");
                    } else {
                        fdiv.removeClass("SerFix");
                    }
                });
            }

        });

        var takeDataResult = null;

        function takeData() {

            $.lumos.getJson({
                url: "/ObCallout/TakeData",
                isUseHandling: true,
                success: function (d) {

                    $.lumos.tips(d.message);

                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;

                        takeDataResult = data;
                        //alert(JSON.stringify(data))
                        $('#lbl_CsrName').text(data.customer.name);
                        $('#lbl_CsrPhoneNumber').text(data.customer.phoneNumber);
                        $('#lbl_CsrAddress').text(data.customer.address);
                        $('#lbl_CsrIdNumber').text(data.customer.idNumber);

                        $('#lbl_CarRegisterDate').text(data.car.registerDate);
                        $('#lbl_CarPlateNo').text(data.car.plateNo);
                        $('#lbl_CarModel').text(data.car.model);
                        $('#lbl_CarEngineNo').text(data.car.engineNo);
                        $('#lbl_CarVin').text(data.car.vin);


                        $('#lbl_CarInsLastCompany').text(data.car.insLastCompany);
                        $('#lbl_CarInsTime').text(data.car.insTime);
                        $('#lbl_CarInsLastQzNo').text(data.car.insLastQzNo);


                        $('#sel_ResultCode').myChosen({ urlParams: { type: "callresultcode" } });

                    }
                }
            });
        }

        function initConfig() {

            $.lumos.getJson({
                url: "/ObCallout/CarInsGetKind",
                isShowLoading: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {


                        //alert(JSON.stringify(d))

                        $('#carInsKindsBox').html($("#tmpl_carInsKinds").tmpl(d.data));


                    }
                }
            });
        }

        function refresh() {

        }


    </script>
}

<div class="gbr-row gbr-page">

    <div class="teleMarket">


        <div class="customerInfo">
            <div id="top_bar" class="search-bar" style="background-color:#fff;">
                <div class="filter" id="btn_SaveCallRecord">
                    <span class="status-bar-btn selected">保存通话记录</span>
                </div>
                <div class="filter">
                    <span class="status-bar-btn">编辑客户资料</span>
                </div>
            </div>

            <div class="gbr-row-title clearfix">
                <div class="pull-left">
                    <h5>基本信息</h5>
                </div>
                <div class="f-tb1-item-pull-right">

                    <div class="remark-tips"><span class="t">提醒：</span><span class="c">客户数据<span class="red-t">系统自动</span>取出，如需取下一条数据，请<span class="red-t">保存通话记录</span>后，系统会自动取出.</span></div>

                </div>
            </div>
            <table class="f-tb1-detail" style="width:100%;">
                <tr>
                    <td class="t">客户姓名：</td>
                    <td class="c"><span id="lbl_CsrName"></span> </td>
                    <td class="t">客户电话：</td>
                    <td class="c" colspan="3"><span id="lbl_CsrPhoneNumber"></span></td>
                </tr>
                <tr>
                    <td class="t">身份证号：</td>
                    <td class="c"><span id="lbl_CsrIdNumber"></span></td>
                    <td class="t">客户地址：</td>
                    <td class="c" colspan="3"><span id="lbl_CsrAddress"></span></td>
                </tr>
            </table>
            <div class="gbr-row-title clearfix">
                <div class="pull-left">
                    <h5>车辆信息</h5>
                </div>
                <div class="pull-right f-tb1-item-pull-right">
                    <h6></h6>
                </div>
            </div>

            <table class="f-tb1-detail" style="width:100%;">
                <tr>
                    <td class="t">车牌号码：</td>
                    <td class="c">
                        <span id="lbl_CarPlateNo"></span>
                    </td>
                    <td class="t">初登日期：</td>
                    <td class="c" colspan="3">
                        <span id="lbl_CarRegisterDate"></span>
                    </td>
                </tr>
                <tr>
                    <td class="t">厂牌型号：</td>
                    <td class="c"><span id="lbl_CarModel"></span></td>
                    <td class="t">发动机号：</td>
                    <td class="c"><span id="lbl_CarEngineNo"></span></td>
                    <td class="t">车架号码：</td>
                    <td class="c"><span id="lbl_CarVin"></span></td>
                </tr>
                <tr>
                    <td class="t">上一年保险公司：</td>
                    <td class="c">
                        <span id="lbl_CarInsLastCompany"></span>
                    </td>
                    <td class="t">承保期间：</td>
                    <td class="c">
                        <span id="lbl_CarInsTime"></span>
                    </td>
                    <td class="t">保单号：</td>
                    <td class="c"><span id="lbl_CarInsLastQzNo"></span></td>
                </tr>
            </table>


            <div id="carInsKindsBox">

            </div>
        </div>

        <div class="teleInfo">
            <div class="infobox" style="margin-top:5px;">
                <div class="t">
                    <span class="title">我的状态</span>
                </div>
                <div class="b">
                    <ul>
                        <li><div class="name">任务数量</div><div class="value">0</div></li>
                        <li><div class="name">未拨数量</div><div class="value">0</div></li>
                        <li><div class="name">已拨数量</div><div class="value">0</div></li>
                        <li><div class="name">未联系</div><div class="value">0</div></li>
                        <li><div class="name">目标</div><div class="value">0</div></li>
                        <li><div class="name">无效</div><div class="value">0</div></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>



    <form id="form_CallRecord" name="form_CallRecord" method="post" style="width:500px;display:none">

        <div class="remark-tips"><span class="t">提醒：</span><span class="c">通话记录须有进行<span class="red-t">通话后</span>才能保存成功</span></div>

        <table class="f-tb" cellpadding="0" cellspacing="1" style="width:500px;">
            <tr>
                <td class="f-tb-t" style="width:90px">
                    通话结果：
                </td>
                <td class="f-tb-c">

                    <select id="sel_ResultCode" data-placeholder="请选择" class="chosen-select" style="width:200px">
                        <option value="-1"></option>
                    </select>

                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    下次回拨时间：
                </td>
                <td class="f-tb-c">

                    <input id="txt_NextCallTime" type="text" class="Wdate input-control" style="width:80px;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '@DateTime.Now.ToUnifiedFormatDate()' })" value="" />

                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    备注：
                </td>
                <td class="f-tb-c">
                    <textarea rows="5" style="width:92%;" id="txt_Remark" class="input-control"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

<script id="tmpl_carInsKinds" type="text/x-jquery-tmpl">

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>投保信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <div class="list">

        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:50%" class="no">
                        险别

                    </th>
                    <th style="width:20%">
                        保额金额/赔偿限额
                    </th>
                    <th style="width:20%">
                        不计免赔
                    </th>
                    <th style="width:10%">
                        选择
                    </th>
                </tr>
            </thead>



            <tbody>


                {{each(j,item) carInsKinds}}

                <tr insKindId="${item.id}">
                    <td colspan="4">
                        <div class="block-title1 clearfix">
                            <div class="pull-left">
                                <span>${item.name}</span>
                            </div>
                        </div>
                    </td>
                </tr>

                {{each(i,item2) item.child}}

                <tr insKindId="${item2.id}">
                    <td>
                        ${item2.name}
                    </td>
                    <td>

                        {{if item2.inputType==1}}
                        <span></span>
                        {{else item2.inputType==2}}

                        <input class="txt-value" type="text" style="height:30px;width:100px;" />

                        {{else item2.inputType==3}}

                        <select class="txt-value" style="height:30px;">
                            {{each(i,option) item2.inputOption}}

                            <option value="${option}" ${item2.inputValue==option?"selected":""}> ${option}</option>

                            {{/each}}
                        </select>


                        {{/if}}
                        ${item2.inputUnit}
                    </td>
                    <td>

                        {{if item2.canWaiverDeductible}}
                        <div class="btn-check" data-state="${item2.isSelectedWaiverDeductible==true?" on":"off"}">
                            &nbsp;
                        </div>
                        {{/if}}
                    </td>
                    <td>
                        <div class="btn-switch" data-state=${item2.isSelected==true?"on":"off"}>
                            <div class="btn_fath clearfix">
                                <div class="move"></div>
                                <div class="switch-status switch-status-on"></div>
                                <div class="switch-status switch-status-off "></div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}


                {{/each}}

            </tbody>



        </table>


        <div style="margin:10px 0px;">
            交强险：<input type="text" autocomplete="off" id="txt_CompulsoryAmount" style="width:50px;" class="input-control" />
            车船税：<input type="text" autocomplete="off" id="txt_TravelTaxAmount" style="width:50px;" class="input-control" />
            商业险：<input type="text" autocomplete="off" id="txt_CommercialAmount" style="width:50px;" class="input-control" />
            合计：<span id="lbl">0.00</span>
        </div>

        <div id="top_bar" class="search-bar" style="background-color:#fff;">
            <div class="filter" id="btn_CarInsSubmitInsure">
                <span class="status-bar-btn selected">提交核保</span>
            </div>
        </div>

    </div>

</script>
