@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">

        $(this).ready(function () {

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Code").formValidator().inputValidator({ min: 1, max: 50, onError: "批次号须填，且不能超过50个字符" });
            $("#txt_Name").formValidator().inputValidator({ min: 1, max: 50, onError: "标签须填，且不能超过50个字符" });
            //$("#txt_StartTime").formValidator().inputValidator({ min: 1, max: 50, onError: "请选择有效开始时间" });
            //$("#txt_EndTime").formValidator().inputValidator({ min: 1, max: 50, onError: "请选择有效结束时间" });
            $("#markupload_file").formValidator().inputValidator({ min: 1, max: 2000, onError: "请选择上次文件" });

        });



        function add() {

            var isValid = $.formValidator.pageIsValid();
            if (!isValid)
                return false;



            art.dialog.confirm('确定要新建？', function (e) {

                var loading = artDialog.loading2("正在上传中");
                $("#errorbox").hide();
                $("#message").text("");
                $("#point").html("");

                $('#form1').ajaxSubmit({
                    type: "post",
                    url: "/DataBatch/AddByFile",
                    dataType: "json",
                    success: function (d) {
                        loading.close();
                        if (d.result == $.lumos.resultType.success) {
                            $.lumos.parentDialog.refresh(1);
                            $.lumos.tips(d.message, true);
                        }
                        else {
                            $("#errorbox").show();
                            $("#message").text(d.message);
                            if (d.data != null) {
                                for (var i = 0; i < d.data.length; i++) {
                                    $("#point").append("<li>" + d.data[i] + "</li>");
                                }
                            }
                        }
                    }
                });

            });

            return false;
        }


    </script>
}



<div class="gbr-row gbr-dialog">
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <form id='form1' method='post' enctype="multipart/form-data" 　>
        <input id="txt_BizType" name="bizType" value="1" type="hidden" />
        @*暂定业务类型为车险*@
        <table class="f-tb" cellpadding="0" cellspacing="1">
            <tr>
                <td class="f-tb-t" style="width:120px;">
                    <span class="required-symbol">*</span>批次号：
                </td>
                <td class="f-tb-c">
                    <input id="txt_Code" name="code" class="input-control" type="text" style="width: 224px;" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    <span class="required-symbol">*</span>标签：
                </td>
                <td class="f-tb-c">
                    <input id="txt_Name" name="name" class="input-control" type="text" style="width: 224px;" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    <span class="required-symbol">*</span>有效期（天）：
                </td>
                <td class="f-tb-c">
                    <div>
                        <input id="txt_days" type="text" name="startTime" class="input-control" style="width:50px;" value="30" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    <span class="required-symbol">*</span>跟进延迟（天）：
                </td>
                <td class="f-tb-c">
                    <div>
                        <input id="txt_No" type="text" name="startTime" class="input-control" style="width:50px;" value="14"  />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    <span class="required-symbol">*</span>回收期（天）：
                </td>
                <td class="f-tb-c">
                    <div>
                        <input id="txt_No" type="text" name="startTime" class="input-control" style="width:50px;" value="30" />
                    </div>
                </td>
            </tr>
            @*<tr>
                <td class="f-tb-t">
                    <span class="required-symbol">*</span>有效期：
                </td>
                <td class="f-tb-c">
                    <input id="txt_StartTime" type="text" name="startTime" class="input-control" style="width:80px;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'txt_EndTime\')}', minDate: '@DateTime.Now.ToUnifiedFormatDate()' })" value="@DateTime.Now.ToUnifiedFormatDate()" />
                    至<input id="txt_EndTime" type="text" name="endTime" class="input-control" style="width:80px;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'txt_StartTime\')}', maxDate: '@DateTime.Now.AddDays(180).ToUnifiedFormatDate()' })" value="@DateTime.Now.AddDays(90).ToUnifiedFormatDate()" />
                </td>
            </tr>*@
            <tr style="display:none">
                <td class="f-tb-t"></td>
                <td class="f-tb-c">
                    <input type="submit" name="btn_Submit" id="btn_Submit" value="确定" class="btn btn-sure" />
                    <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="btn btn-close dialog-close" />
                </td>
            </tr>
        </table>
        <div class="gbr-row-title clearfix">
            <div class="pull-left">
                <h5>选择文件</h5>
            </div>
            <div class="pull-right f-tb1-item-pull-right">
                <h6></h6>
            </div>
        </div>
        <div style="margin:20px 0px;height:30px;">
            <div class="markupload" style="position:relative;width:300px; height:33px; float:left;margin-right:20px ">
                <div class="file-name" id="file_name"></div>
                <div class="file-msg"></div>
                <label class="file-browse" for="markupload_file">浏览..</label>
                <div class='file-loading'>上传中...</div>

                <div style="width:0px;overflow:hidden">
                    <input type='file' name='markupload_file' id='markupload_file' class="markupload-file" filetype="xls" accept='application/vnd.ms-excel'>
                </div>
            </div>


        </div>

        <div id="errorbox" style="display:none;color:red;">
            <div>错误提示:<span id="message"></span></div>
            <ul id="point"></ul>
        </div>
    </form>
</div>

