@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var id = $.lumos.getUrlParamValue("id");
        var listTable;
        var unAllocatedCount = 0;
        var unAllocatedCountRandom = 0;
        var unAllocatedCountFilter = 0;
        $(this).ready(function () {
            $('input[name=ObBatchAllocateId]').val(id);
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#sel_Modes").formValidator().inputValidator({ min: 1, max: 500, onError: "请选择分配方式" });

            $("#sel_Modes").chosen().on("change", function (evt, params) {
                var val = $(this).val();
                if (val == "1") {
                    unAllocatedCount = unAllocatedCountRandom;
                    $('#lbl_UnAllocatedCount').text(unAllocatedCountRandom);
                    $('#tr_filterdata').hide();
                }
                else {
                    unAllocatedCount = unAllocatedCountFilter;
                    $('#lbl_UnAllocatedCount').text(unAllocatedCountFilter);
                    $('#tr_filterdata').show();
                }
            });

            getDetails();

            listTable = $("#list_ObCustomer").loadDataTable({
                url: "/ObCustomer/GetList",
                pageIndex: 0,
                pageSize: 5,
                searchParams: $("#form_ObCustomer").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form_ObCustomer",
                rowDataCombie: function (p_index, p_row) {
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrName + "\"   >" + p_row.csrName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrPhoneNumber + "\">" + p_row.csrPhoneNumber + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrIdNumber + "\">" + p_row.csrIdNumber + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrAddress + "\">" + p_row.csrAddress + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carRegisterDate + "\">" + p_row.carRegisterDate + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carPlateNo + "\">" + p_row.carPlateNo + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carModel + "\">" + p_row.carModel + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carVin + "\">" + p_row.carVin + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carEngineNo + "\">" + p_row.carEngineNo + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carInsLastQzNo + "\">" + p_row.carInsLastQzNo + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carInsLastCompany + "\">" + p_row.carInsLastCompany + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carInsLastStartTime + "\">" + p_row.carInsLastStartTime + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.carInsLastEndTime + "\">" + p_row.carInsLastEndTime + "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                success: function (data) {
                    unAllocatedCount = data.totalRecord;
                    unAllocatedCountFilter = data.totalRecord;
                    $('#lbl_UnAllocatedCount').text(data.totalRecord);
                }
            });
        });


        function getDetails() {

            $.lumos.getJson({
                url: "/ObBatchAllocate/GetDetails",
                urlParams: { id: id },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;

                        $('#lbl_ObBatchCode').text(data.obBatchCode);
                        $("#lbl_ObBatchName").text(data.obBatchName);
                        $("#lbl_UnAllocatedCount").text(data.unAllocatedCount);

                        unAllocatedCount = data.unAllocatedCount;
                        unAllocatedCountRandom = data.unAllocatedCount;

                        $.each(data.belongUsers, function (index, value) {

                            var l_StrRows = "";
                            l_StrRows += "<tr organizationId=\"" + value.organizationId + "\" userId=\"" + value.userId + "\" >";
                            l_StrRows += "<td>" + (index + 1) + "</td>";
                            l_StrRows += "<td>" + value.userName + "</td>";
                            l_StrRows += "<td><input type=\"text\" autocomplete=\"off\"  name=\"allocatedCount\" style=\"width:100px;\" class=\"input-control\" value=\"0\" /></td>";
                            l_StrRows += "</tr>";


                            $('#list_belongUsers').append(l_StrRows);
                        });
                    }
                }
            });
        }

        function allocate() {

            var isValid = $.formValidator.pageIsValid();
            if (!isValid)
                return false;

            var tr_belongUsers = $('#list_belongUsers tbody tr');
            if (tr_belongUsers.length == 0) {
                $.lumos.tips("没有可分配数据的对象");
                return false;
            }

            var belongUsers = [];
            var isFlagCountFormat = false;
            var sumAllocatedCount = 0;
            $.each(tr_belongUsers, function (e) {
                var userId = $(this).attr("userId");
                var organizationId = $(this).attr("organizationId");
                var allocatedCount = $(this).find(" input[name=allocatedCount]").val();

                belongUsers.push({ userId: userId, organizationId: organizationId, allocatedCount: allocatedCount });

                if (!$.lumos.isInt(allocatedCount)) {
                    isFlagCountFormat = true;
                    return;
                }
                else {
                    sumAllocatedCount += parseInt(allocatedCount);
                }
            });

            if (isFlagCountFormat) {
                $.lumos.tips("数量请输入正数字格式");
                return false;
            }

            if (sumAllocatedCount < 1) {
                $.lumos.tips("分配的数量不能都为0");
                return false;
            }


            if (sumAllocatedCount > unAllocatedCount) {
                $.lumos.tips("分配的数量超出可分配量");
                return false;
            }



            art.dialog.confirm('确定要保存？', function () {

                var mode = $("#sel_Modes").val();



                var carPlateNo = $('#txt_CarPlateNo').val();
                var carModel = $('#txt_CarModel').val();
                var carEngineNo = $('#txt_CarEngineNo').val();
                var csrAddress = $('#txt_CsrAddress').val();
                var csrPhoneNumber = $('#txt_CsrPhoneNumber').val();
                var csrName = $('#txt_CsrName').val();
                var description = $('#txt_Description').val();

                var carRegisterDateStart = $('#txt_CarRegisterDateStart').val();
                var carRegisterDateEnd = $('#txt_CarRegisterDateEnd').val();
                var carInsLastStartTime = $('#txt_CarInsLastStartTime').val();
                var carInsLastEndTime = $('#txt_CarInsLastEndTime').val();


                $.lumos.postJson({
                    url: "/ObBatchAllocate/Add",
                    isUseHandling: true,
                    data: { id: id, mode: mode, belongUsers: belongUsers, description: description, filters: { carPlateNo: carPlateNo, carModel: carModel, carEngineNo: carEngineNo, csrAddress: csrAddress, csrPhoneNumber: csrPhoneNumber, csrName: csrName, carRegisterDateStart: carRegisterDateStart, carRegisterDateEnd: carRegisterDateEnd, carInsLastStartTime: carInsLastStartTime, carInsLastEndTime: carInsLastEndTime } },
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            $.lumos.parentDialog.refresh(2);
                            $.lumos.tips(d.message, true);
                        }
                        else {
                            $.lumos.tips(d.message);
                        }
                    }
                });
            });

            return false;
        }

    </script>
}



<div class="gbr-row gbr-dialog">
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t">
                批次号：
            </td>
            <td class="f-tb-c">
                <label id="lbl_ObBatchCode"></label>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                <span class="required-symbol">*</span>分配方式：
            </td>
            <td class="f-tb-c">
                <select id="sel_Modes" data-placeholder="请选择" class="chosen-select" style="width:200px">
                    <option value="-1"></option>
                    <option value="1">随机分配</option>
                    <option value="2">筛选分配</option>
                </select>
            </td>
        </tr>
        <tr id="tr_filterdata" style="display:none">
            <td class="f-tb-t">
                筛选数据：
            </td>
            <td class="f-tb-c">

                <form id="form_ObCustomer" name="form_ObCustomer">
                    <input id="ObBatchAllocateId" name="ObBatchAllocateId" type="hidden" value="" />
                    <div class="search-bar">
                        <div class="filter">
                            <span class="filter-label">初登日期：</span>
                            <span class="filter-input">
                                <input id="txt_CarRegisterDateStart" type="text" name="CarRegisterDateStart" class="input-control" style="width:80px;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'txt_CarRegisterDateEnd\')}' })" value="" />
                                至<input id="txt_CarRegisterDateEnd" type="text" name="CarRegisterDateEnd" class="input-control" style="width:80px;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'txt_CarRegisterDateStart\')}' })" value="" />
                            </span>
                        </div>
                        <div class="filter">
                            <span class="filter-label">起保日：</span>
                            <span class="filter-input">
                                <input id="txt_CarInsLastStartTime" type="text" name="CarInsLastStartTime" class="input-control" style="width:80px;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'txt_CarInsLastEndTime\')}' })" value="" />
                                至<input id="txt_CarInsLastEndTime" type="text" name="CarInsLastEndTime" class="input-control" style="width:80px;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'txt_CarInsLastStartTime\')}' })" value="" />
                            </span>
                        </div>
                        <div class="filter">
                            <span class="filter-label">保险公司：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" name="CarInsLastCompany" style="width:250px;" />
                            </span>
                        </div>
                    </div>
                    <div class="search-bar">
                        <div class="filter">
                            <span class="filter-label">车牌号码：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" id="txt_CarPlateNo" name="CarPlateNo" style="width:120px;" />
                            </span>
                        </div>
                        <div class="filter">
                            <span class="filter-label">厂牌：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" id="txt_CarModel" name="CarModel" style="width:120px;" />
                            </span>
                        </div>
                        <div class="filter">
                            <span class="filter-label">发动号：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" id="txt_CarEngineNo" name="CarEngineNo" style="width:120px;" />
                            </span>
                        </div>
                        <div class="filter">
                            <span class="filter-label">地址：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" id="txt_CsrAddress" name="CsrAddress" style="width:430px;" />
                            </span>
                        </div>
                    </div>
                    <div class="search-bar">
                        <div class="filter">
                            <span class="filter-label">电话号码：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" id="txt_CsrPhoneNumber" name="CsrPhoneNumber" style="width:120px;" />
                            </span>
                        </div>
                        <div class="filter">
                            <span class="filter-label">姓名：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" id="txt_CsrName" name="CsrName" style="width:120px;" />
                            </span>
                        </div>
                        <div class="filter">
                            <span class="filter-label">身份证：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" id="txt_CsrIdNumber" name="CsrIdNumber" style="width:120px;" />
                            </span>
                        </div>
                        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
                    </div>
                    <div class="list">
                        <table id="list_ObCustomer" class="list-tb" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width:25px" class="no">
                                        序号
                                    </th>
                                    <th style="width:5%">
                                        姓名
                                    </th>
                                    <th style="width:8%">
                                        电话
                                    </th>
                                    <th style="width:12%">
                                        身份证
                                    </th>
                                    <th style="width:10%">
                                        地址
                                    </th>
                                    <th style="width:8%">
                                        初登日期
                                    </th>
                                    <th style="width:8%">
                                        车牌
                                    </th>
                                    <th style="width:8%">
                                        厂牌型号
                                    </th>
                                    <th style="width:5%">
                                        车架号
                                    </th>
                                    <th style="width:5%">
                                        发动机号
                                    </th>
                                    <th style="width:5%">
                                        保单号
                                    </th>
                                    <th style="width:10%">
                                        保险公司
                                    </th>
                                    <th style="width:8%">
                                        起保日期
                                    </th>
                                    <th style="width:8%">
                                        终保日期
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="14">
                                        <div class="pull-left">
                                            <span class="load-tip"></span>
                                        </div>
                                        <div class="pull-right pagination">
                                            <div class="pagination-info">

                                            </div>
                                            <div class="pagination-index">

                                            </div>
                                            <div class="pagination-goto">

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>

            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                可分配量：
            </td>
            <td class="f-tb-c">
                <label id="lbl_UnAllocatedCount"></label>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                可分对象：
            </td>
            <td class="f-tb-c">

                <div class="list">
                    <table id="list_belongUsers" class="list-tb" cellpadding="0" cellspacing="0" style="width:600px;">
                        <thead>
                            <tr>
                                <th style="width:5%" class="no">
                                    序号
                                </th>
                                <th style="width:50%">
                                    对象
                                </th>
                                <th style="width:45%">
                                    数量
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </td>
        </tr>
        <tr>
            <td class="f-tb-t" style="width:120px;">
                描述：
            </td>
            <td class="f-tb-c">
                <input id="txt_Description" class="input-control" type="text" style="width: 600px;" autocomplete="off" />
            </td>
        </tr>
        <tr style="display:none">
            <td class="f-tb-t"></td>
            <td class="f-tb-c">
                <input type="submit" name="btn_Submit" id="btn_Submit" value="保存" class="btn btn-save" />
                <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="btn btn-close dialog-close" />
            </td>
        </tr>
    </table>

</div>