@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var id = $.lumos.getUrlParamValue("id");
        var listTable;
        var unAllocatedCount = 0;
        var unAllocatedCountRandom = 0;
        var unAllocatedCountFilter = 0;
        $(this).ready(function () {
            $('input[name=ObBatchAllocateId]').val(id);
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#sel_Modes").formValidator().inputValidator({ min: 1, max: 500, onError: "请选择分配方式" });

            $("#sel_Modes").chosen().on("change", function (evt, params) {
                var val = $(this).val();
                if (val == "1") {
                    unAllocatedCount = unAllocatedCountRandom;
                    $('#lbl_UnAllocatedCount').text(unAllocatedCountRandom);
                    $('#tr_filterdata').hide();
                }
                else {
                    unAllocatedCount = unAllocatedCountFilter;
                    $('#lbl_UnAllocatedCount').text(unAllocatedCountFilter);
                    $('#tr_filterdata').show();
                }
            });

            getDetails();

            listTable = $("#list_ObCustomer").loadDataTable({
                url: "/ObBatchAllocate/GetObCustomerListByCommon",
                pageIndex: 0,
                pageSize: 5,
                searchParams: $("#form_ObCustomer").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form_ObCustomer",
                rowDataCombie: function (p_index, p_row) {
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrName + "\"   >" + p_row.csrName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrPhoneNumber + "\">" + p_row.csrPhoneNumber + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrAddress + "\">" + p_row.csrAddress + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.csrCompany + "\">" + p_row.csrCompany + "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                success: function (data) {
                    unAllocatedCount = data.totalRecord;
                    unAllocatedCountFilter = data.totalRecord;
                    $('#lbl_UnAllocatedCount').text(data.totalRecord);
                }
            });
        });


        function getDetails() {

            $.lumos.getJson({
                url: "/ObBatchAllocate/GetDetails",
                urlParams: { id: id },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;

                        $('#lbl_ObBatchCode').text(data.obBatchCode);
                        $("#lbl_ObBatchName").text(data.obBatchName);
                        $("#lbl_UnAllocatedCount").text(data.unAllocatedCount);

                        unAllocatedCount = data.unAllocatedCount;
                        unAllocatedCountRandom = data.unAllocatedCount;

                        $.each(data.belongUsers, function (index, value) {

                            var l_StrRows = "";
                            l_StrRows += "<tr organizationId=\"" + value.organizationId + "\" userId=\"" + value.userId + "\" >";
                            l_StrRows += "<td>" + (index + 1) + "</td>";
                            l_StrRows += "<td>" + value.userName + "</td>";
                            l_StrRows += "<td><input type=\"text\" autocomplete=\"off\"  name=\"allocatedCount\" style=\"width:100px;\" class=\"input-control\" value=\"0\" /></td>";
                            l_StrRows += "</tr>";


                            $('#list_belongUsers').append(l_StrRows);
                        });


                    }
                }
            });
        }

        function add() {

            var isValid = $.formValidator.pageIsValid();
            if (!isValid)
                return false;

            var tr_belongUsers = $('#list_belongUsers tbody tr');
            if (tr_belongUsers.length == 0) {
                $.lumos.tips("没有可分配数据的对象");
                return false;
            }

            var belongUsers = [];
            var isFlagCountFormat = false;
            var sumAllocatedCount = 0;
            $.each(tr_belongUsers, function (e) {
                var userId = $(this).attr("userId");
                var organizationId = $(this).attr("organizationId");
                var allocatedCount = $(this).find(" input[name=allocatedCount]").val();

                belongUsers.push({ userId: userId, organizationId: organizationId, allocatedCount: allocatedCount });

                if (!$.lumos.isInt(allocatedCount)) {
                    isFlagCountFormat = true;
                    return;
                }
                else {
                    sumAllocatedCount += parseInt(allocatedCount);
                }
            });

            if (isFlagCountFormat) {
                $.lumos.tips("数量请输入正数字格式");
                return false;
            }

            if (sumAllocatedCount < 1) {
                $.lumos.tips("分配的数量不能都为0");
                return false;
            }


            if (sumAllocatedCount > unAllocatedCount) {
                $.lumos.tips("分配的数量超出可分配量");
                return false;
            }



            art.dialog.confirm('确定分配？', function () {

                var mode = $("#sel_Modes").val();

                var csrPhoneNumber = $('#txt_CsrPhoneNumber').val();
                var csrName = $('#txt_CsrName').val();
                var description = $('#txt_Description').val();



                $.lumos.postJson({
                    url: "/ObBatchAllocate/Add",
                    isUseHandling: true,
                    data: { id: id, mode: mode, belongUsers: belongUsers, description: description, filters: { csrPhoneNumber: csrPhoneNumber, csrName: csrName } },
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            $.lumos.parentDialog.refresh(2);
                            $.lumos.tips(d.message, true);
                        }
                        else {
                            $.lumos.tips(d.message);
                        }
                    }
                });
            });

            return false;
        }

    </script>
}



<div class="gbr-row gbr-dialog">
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t">
                批次号：
            </td>
            <td class="f-tb-c">
                <label id="lbl_ObBatchCode"></label>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                <span class="required-symbol">*</span>分配方式：
            </td>
            <td class="f-tb-c">
                <select id="sel_Modes" data-placeholder="请选择" class="chosen-select" style="width:200px">
                    <option value="-1"></option>
                    <option value="1">随机分配</option>
                    <option value="2">筛选分配</option>
                </select>
            </td>
        </tr>
        <tr id="tr_filterdata" style="display:none">
            <td class="f-tb-t">
                筛选数据：
            </td>
            <td class="f-tb-c">

                    <form id="form_ObCustomer">
                        <input  name="ObBatchAllocateId" type="hidden" value="" />
                        <div class="search-bar">
                            <div class="filter">
                                <span class="filter-label">电话号码：</span>
                                <span class="filter-input">
                                    <input type="text" class="input-control" id="txt_CsrPhoneNumber" name="CsrPhoneNumber" style="width:120px;" />
                                </span>
                            </div>
                            <div class="filter">
                                <span class="filter-label">姓名：</span>
                                <span class="filter-input">
                                    <input type="text" class="input-control" id="txt_CsrName" name="CsrName" style="width:120px;" />
                                </span>
                            </div>
                            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
                        </div>
                        <div class="list">
                            <table id="list_ObCustomer" class="list-tb" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:25px" class="no">
                                            序号
                                        </th>
                                        <th style="width:25%">
                                            姓名
                                        </th>
                                        <th style="width:25%">
                                            电话
                                        </th>
                                        <th style="width:25%">
                                            地址
                                        </th>
                                        <th style="width:25%">
                                            公司
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="pull-left">
                                                <span class="load-tip"></span>
                                            </div>
                                            <div class="pull-right pagination">
                                                <div class="pagination-info">

                                                </div>
                                                <div class="pagination-index">

                                                </div>
                                                <div class="pagination-goto">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                可分配量：
            </td>
            <td class="f-tb-c">
                <label id="lbl_UnAllocatedCount"></label>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                可分对象：
            </td>
            <td class="f-tb-c">

                <div class="list">
                    <table id="list_belongUsers" class="list-tb" cellpadding="0" cellspacing="0" style="width:600px;">
                        <thead>
                            <tr>
                                <th style="width:5%" class="no">
                                    序号
                                </th>
                                <th style="width:50%">
                                    对象
                                </th>
                                <th style="width:45%">
                                    数量
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </td>
        </tr>
        <tr>
            <td class="f-tb-t" style="width:120px;">
                描述：
            </td>
            <td class="f-tb-c">
                <input id="txt_Description" class="input-control" type="text" style="width: 600px;" autocomplete="off" />
            </td>
        </tr>
        <tr style="display:none">
            <td class="f-tb-t"></td>
            <td class="f-tb-c">
                <input type="submit" name="btn_Submit" id="btn_Submit" value="保存" class="btn btn-save" />
                <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="btn btn-close dialog-close" />
            </td>
        </tr>
    </table>

</div>