@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section  styles{
    <style type="text/css">
        .seat {
            margin: 4px;
            float: left;
        }

            .seat .ct {
                height: 70px;
                width: 255px;
                padding: 6px;
                border: 1px solid rgb(204, 204, 204);
            }

            .seat .it-img {
                float: left;
            }

            .seat .it-info {
                float: left;
                margin-left:5px;
            }

            .seat .it-info p{
                line-height:23px;
            }
    </style>
}

<script type="text/javascript">

    $(document).ready(function () {

        $.lumos.getJson({
            url: "/TelSeat/GetList",
            success: function (d) {

                //console.log(JSON.stringify(d));

                if (d.result == $.lumos.resultType.success) {

                    $('#gbr_page').html($("#tmpl_page").tmpl(d.data));

                    //alert(JSON.stringify(d))
                }
            }
        });

    });

    function refresh(type) {
        switch (type) {
            case 1:
                break;
            case 2:
                break;
        }
    }


</script>

<div id="gbr_page" class="gbr-row gbr-page">






</div>



<script id="tmpl_page" type="text/x-jquery-tmpl">

    <div class="seats">
        {{each(j,telSeat) telSeats}}
        <div class="seat">
            <div class="ct">
                <div class="it-img">
                    <img src="@OwnStaticImagesResource.GetSrc("workStatus_${telSeat.workStatus}.png")" style="margin-top: 4px;">
                </div>
                <div class="it-info">
                    <p>账户：${telSeat.userName}</p>
                    <p>姓名：${telSeat.fullName}</p>
                    <p>状态：${telSeat.workStatusName}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>